bin/
emsdk/
Final-Stats.txt
Xombies-and-Nambaz_Game-Final-Stats.txt
Xombies-and-Nambaz_Game-Log.log
aclocal.m4
autoscan.log
autom4te.cache
configure
missing
compile
config.log
config.status
configure.ac
decomp
install-sh
configure~
Gam.exe
Win-Gam.exe
Gam.o
Gam.obj
bin/Gam.exe
bin/*
bin/Win-Gam.exe
.vscode/
docx/
plog/