# own
bin/
emsdk/
Final-Stats.txt
Xombies-and-Nambaz_Game-Final-Stats.txt
Xombies-and-Nambaz_Game-Log.log
aclocal.m4
autoscan.log
autom4te.cache
configure
missing
compile
config.log
config.status
configure.ac
decomp
install-sh
configure~
Gam.exe
Win-Gam.exe
Gam.o
Gam.obj
bin/Gam.exe
bin/*
bin/Win-Gam.exe
.vscode/
docx/
plog/
# end of own

# Created by https://www.toptal.com/developers/gitignore/api/windows,c++,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,c++,visualstudiocode

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows,c++,visualstudiocode